
<% if @tarea.errors.any? %>
   <div id ="errorRegistroUsuario" class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <ul>
        <% @tarea.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
		<% end %>
	   </ul>
	</div>
<% end %>

<%= form_for @tarea, :html => { :class => 'bs-example form-horizontal', :multipart => true} do |t| %>
	<%= t.hidden_field :id,:value => @id%>
	  <div class="panel panel-success">
	    <div class="panel-heading">
	    	<h3>
                <b>Editar Tarea</b>
            </h3>
	    </div>
	    <div class="panel-body">
	    	<table class="table table-user-information">	                
	    		<tr>
	    			<td>Titulo:</td>	                
	                <td><%= t.text_field :titulo , :class=>'form-control', :placeholder=>'Titulo', :maxlength => 50 %></td>	
	    		</tr>
	        	
	        	<tr>
	        		    <td>Descripcion:</td>  
	                    <td><%= t.text_area :descripcion, :class=>'form-control',:rows=>'6', :placeholder=>'Descripcion' ,  :maxlength=>500%></td>	                
	        	</tr>
	            
	        	<tr>
	                <td>Fecha de entrega:</td>
	          		<td><%= t.date_select :fecha_entrega, :order => [:day, :month, :year], :start_year => 1950%></td>

	          				<!--t.text_field :fecha_entrega, :class=>'form-control input-append',:"data-format"=>'dd/MM/yyyy', :placeholder=>'Fecha de Entrega', :value=> @tarea.fecha_entrega.strftime("%d/%m/%Y"), :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"-->	          					    
	        	</tr>

	        	<tr>	        		
		            <td>Hora de entrega:</td>
		            <td><%= t.text_field :hora_entrega, :class=>'form-control timepicker-default', :value=> @tarea.hora_entrega.strftime("%I:%M %p") , :placeholder=>'Hora de Entrega', :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"%>
		            </td>
	        	</tr>

	        	<tr>
	        		
	          	 <% if(@tarea.archivo_adjuntos.size>0) %>
		          
		            <div class="panel panel-default">
		                <div class="panel-body">
		                  <label><i class="icon-download"></i> Adjuntos</label>
		                  <hr style="margin-top:0px;" />
		                  <ul>
		                  <% @tarea.archivo_adjuntos.each do |arch| %>
		                    <li id="<%=arch.id%>" class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
		                      <a href="<%=arch.archivo.url(download: true)%>"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a><span class="pull-right" style="cursor:pointer;" onclick="eliminarItemDeVista(<%=arch.id%>)"><img src="/assets/delete.png" width="24"></span>
		                    </li>
		                  <%end%>
		                  <% if @tarea_base !=nil %>
                  			<% @tarea_base.archivo_adjuntos.each do |arch| %>
                  				<li class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
                      				<a href="<%=arch.archivo.url(download: true)%>"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a>
                    			</li>
                    		<%end%>
                  		  <%end %>
		                  </ul>
		                </div>
		              </div>		          
		          <% end %>	          
	        	</tr>
		                  	
	          <tr>
	        	
            	<td><span data-toggle="collapse" data-target="#demo" style="cursor:pointer;" title="Añadir adjuntos">Agregar adjuntos&nbsp;<img style="margin-top:-2px;" src="/assets/add.png" width="24"></span></td>

	          </tr>

	          <tr>
	          	
               	<td>Adjuntar archivos:</td>
            
	            <td><input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('tarea_archivo').click();" onfocus="this.blur();">
	            <%= t.file_field :archivo , :class=>'form-control',:multiple => true, :style=>"display:none;", :onchange=>"document.getElementById('showFiles').value = (this.files.length>1)?''+this.files.length+' Archivos seleccionados.':this.files[0].name;" %>
	            <span class="input-group-addon" style="background-color: #256188; cursor:pointer;" onclick="document.getElementById('tarea_archivo').click();">
	              <i class="icon-file icon-white"></i>
	            </span>
	            </td>
	          </tr>
            </table>
             <ul class="list-group">
	        	<li class="list-group-item">
	        		<center><input type="submit" value="Guardar cambios" class="btn btn-success"></center>
	        	</li>
	        </ul>
		</div>
	</div>
	   <input type="hidden" id="elemsParaElim" name="elemsParaElim"  />
	<% end %>




	<script>
	  $('.timepicker-default').timepicker();
	   $(function() {
	              $('#datetimepicker2').datetimepicker({
	                language: 'es',
	                pickTime: false,
	                maskInput: true,
	                startDate: new Date(), // set a minimum date
	              });
	            });
	</script>
	<script type="text/javascript">
  getImagesForAttachedFiles();
</script>
