<div class="page-header">
   <h1 id="forms">Nueva Tarea</h1>
</div>

<% if @tarea.errors.any? %>
   <div id ="errorRegistroUsuario" class="alert alert-error">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	      <ul>
	         <% @tarea.errors.full_messages.each do |msg| %>
	         <li><%= msg %></li>
	         <% end %>
	      </ul>
	</div>
<% end %>
<!--
&nbsp; <%= link_to "Utilizar Tarea", "/tareas/ver_tareas/"%>
	<p> &nbsp;</p>-->


<%= form_for @tarea, :html => { :class => 'bs-example form-horizontal', :multipart => true} do |t| %>
<%= t.hidden_field :id,:value => @id%>
	<div class="panel panel-success">
	    <div class="panel-heading">
	    	<Center><h3><b>Ingrese datos de tarea</b></h3></Center>
	    </div>
	    <div class="panel-body">
	    	<table class="table table-user-information">
		    	<tr>	         
		       		<td> Titulo:</td>	        
	            	<td><%= t.text_field :titulo , :class=>'form-control', :placeholder=>'Titulo', :maxlength => 50 %></td>
		        </tr>
		        <tr>
		        	
		             <td>Descripcion:</td>
		             <td>  <%= t.text_area :descripcion, :class=>'form-control',:rows=>'6', :placeholder=>'Descripcion' ,  :maxlength=>500%></td>	
		        </tr>
		        <tr>	        	
		            <td>Fecha de entrega:</td>	                  	        	  
		          	<td><%= t.date_select :fecha_entrega, :order => [:day, :month, :year], :start_year => 1950 %>
		          	<!--:class=>'form-control input-append',:"data-format"=>'dd/MM/yyyy', :placeholder=>'Fecha de Entrega', :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"%>-->
		        </tr>       
		         
		        <tr>
		        
		          <td>Hora de entrega:</td>
		          <td>  <%= t.text_field :hora_entrega, :class=>'form-control timepicker-default', :placeholder=>'Hora de Entrega', :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"%>	
		        	</td>
		        </tr>          

		      <tr>
				<td>Grupo:</td>
				<td><%=t.collection_select(:grupo_id, @grupos.select { |g| g.usuario_id ==current_user.id } , :id, :nombre,{:selected => @grupo.id},{:class=>'form-control'})%></td>
				</tr>
		        
		        <tr>
		        	<td>Adjuntar archivos:</td>		            
		            <td><input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('tarea_archivo').click();" onfocus="this.blur();">
		            <%= t.file_field :archivo , :class=>'form-control',:multiple => true, :style=>"display:none;", :onchange=>"document.getElementById('showFiles').value = (this.files.length>1)?''+this.files.length+' Archivos seleccionados.':this.files[0].name;" %><span class="input-group-addon" style="background-color: #256188; cursor:pointer;" onclick="document.getElementById('tarea_archivo').click();">
              <i class="icon-file icon-white"></i>
            </span></td>
		        </tr>          	
	       </table>
	        <ul class="list-group">
	        	<li class="list-group-item">
	            <center><a href="javascript:window.history.back();" class="btn btn-danger">&laquo; Cancelar</a> <input type="submit" value="Crear tarea" class="btn btn-success"></center>
	        	</li>
	        </ul>

	                
	    </div>
	</div>
<% end %>
	<script>
	  $('.timepicker-default').timepicker();
	   $(function() {
	              $('#datetimepicker2').datetimepicker({
	                language: 'es',
	                pickTime: false,
	                maskInput: true,
	                startDate: new Date(), // set a minimum date
	              });
	            });
	</script>
	</script>