<div class="page-header">
   <h1 id="forms">Nueva Tarea</h1>
</div>

<% if @tarea.errors.any? %>
   <div id ="errorRegistroUsuario" class="alert alert-error">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	      <ul>
	         <% @tarea.errors.full_messages.each do |msg| %>
	         <li><%= msg %></li>
	         <% end %>
	      </ul>
	</div>
<% end %>
<!--
&nbsp; <%= link_to "Utilizar Tarea", "/tareas/ver_tareas/"%>
	<p> &nbsp;</p>-->


<%= form_for @tarea, :html => { :class => 'bs-example form-horizontal', :multipart => true} do |t| %>
<%= t.hidden_field :id,:value => @id%>
	<div class="panel panel-success">
	    <div class="panel-heading">
	    	<Center><h3><b>Ingrese datos de tarea</b></h3></Center>
	    </div>
	    <div class="panel-body">
	    	<table class="table table-user-information">
		    	<tr>	         
		       		<td> Titulo:</td>	        
	            	<td><%= t.text_field :titulo , :class=>'form-control', :placeholder=>'Titulo', :maxlength => 50 %></td>
		        </tr>
		        <tr>
		        	
		             <td>Descripcion:</td>
		             <td>  <%= t.text_area :descripcion, :class=>'form-control',:rows=>'6', :placeholder=>'Descripcion' ,  :maxlength=>500%></td>	
		        </tr>
		        <tr>	        	
		            <td>Fecha de entrega:</td>	                  	        	  
		          	<td><%= t.date_select :fecha_entrega, :order => [:day, :month, :year], :start_year => 1950 %>
		          	<!--:class=>'form-control input-append',:"data-format"=>'dd/MM/yyyy', :placeholder=>'Fecha de Entrega', :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"%>-->
		        </tr>       

		        <tr>
      				<td>Hora de entrega:</td>
      				<td><%= t.time_select :hora_entrega, :default=>(Time.now + 2.hours)%></td>
    			</tr>          

		      <tr>
				<td>Grupos:</td>
				<td>  <div class="ui-widget">
              <input id="grupos">
              <a href="#" onclick="getGrupo();"><img src="/assets/add.png" width="25"></a>
            </div>
            <br/>
            <div id="gruposDiv">
              <div id="<%=@grupo.nombre.gsub(' ','_')%>"><%=@grupo.nombre%><a href="#" onClick="quitarOpcion('<%=@grupo.nombre.gsub(' ','_')%>');"><img src="/assets/delete.png" width="20"></a> </div>
            </div>
            </td>


	         <div style="display:none;">
	          <strong><%=@grupo.nombre%></strong> <%= check_box_tag "grupos[]" , @grupo.id , checked = true , :id =>"check" + @grupo.nombre.gsub(' ','_')%><br/>
	            <% current_user.grupos.each do |grupo| %>
	              <% if grupo != @grupo %>
	                  <strong><%=grupo.nombre%></strong> 
	                  <%= check_box_tag  "grupos[]", grupo.id ,checked = false, :id => "check#{grupo.nombre.gsub(' ','_')}" %><br/>
	              <% end %>
            <% end %></div></td>
			</tr>			
	    </table>
		        
		<div class="form-group" style>
        <%= t.label :titulo, "Archivos seleccionados:" %>
        <div class="col-lg input-group">
          <input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('tarea_archivo').click();" onfocus="this.blur();">
            <%= t.file_field :archivo , :class=>'form-control',:multiple => true, :style=>"display:none;", :onchange=>"document.getElementById('showFiles').value = (this.files.length>1)?''+this.files.length+' Archivos seleccionados.':this.files[0].name;" %>
            <span class="input-group-addon" style="background-color: #256188; cursor:pointer;" onclick="document.getElementById('tarea_archivo').click();">
            <i class="icon-file icon-white"></i>
            </span>
        </div>
      	</div>
	    
	        <ul class="list-group">
	        	<li class="list-group-item">
	            <center><a href="javascript:window.history.back();" class="btn btn-danger">&laquo; Cancelar</a> <input type="submit" value="Crear tarea" class="btn btn-success"></center>
	        	</li>
	        </ul>

	                
	    </div>
	</div>
<% end %>
	<script>
	  $('.timepicker-default').timepicker();
	   $(function() {
	              $('#datetimepicker2').datetimepicker({
	                language: 'es',
	                pickTime: false,
	                maskInput: true,
	                startDate: new Date(), // set a minimum date
	              });
	            });
	</script>
	</script>


 <script>
  $(function() {
    var gruposDisponibles = [
    <% current_user.grupos.each do |grupo|%>
      "<%=grupo.nombre%>",
    <% end %>
    ];
   $( "#grupos" ).autocomplete({
      source: gruposDisponibles,
      minLength: 0
   });
   });



  function getGrupo()
  {
    var gruposDisponibles = [
    <% current_user.grupos.each do |grupo|%>
      "<%=grupo.nombre%>",
    <% end %>
    ];
    var grupo = document.getElementById("grupos").value;
    var grupo_sin = grupo.replace(/\s/g, "_");
    if ($("#" + grupo_sin).length < 1 && grupo != "" && jQuery.inArray(grupo,gruposDisponibles) != -1)
    {
      document.getElementById("gruposDiv").innerHTML+="<div id='"+grupo_sin+"'>"+ grupo +"<a href='#' onclick='quitarOpcion(&quot;"+grupo_sin+"&quot);'><img src='/assets/delete.png' width='20'></a> </div> ";
       document.getElementById("check" + grupo_sin).checked = true;
    }
    return false;
  };

  function quitarOpcion(id)
  {
    $("#" + id).replaceWith("");
    document.getElementById("check" + id).checked = false;
    return false;
  };
</script>