<div class="row">
<div class="col-lg-6 col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading" >                
      <center><h3><%= @tarea.titulo %></h3></center>
    </div>
    <div class="panel-body">            
      <div class="panel-body" align="right">                
        <p><%= @tarea.descripcion %></p>
          <div align="right">Entrega:&nbsp;
            <label><i class="icon-calendar"></i> <%= @tarea.fecha_entrega.strftime("%d/%b/%Y")%></label>&nbsp;&nbsp;
            <label><i class="icon-time"></i> <%= @tarea.hora_entrega.strftime("%I:%M %p") %></label>
          </div>
          <small>Tarea creada el <%= @tarea.created_at.localtime.strftime("%d/%m/%Y a las: %I:%M  %p") %></small>
          <div>
            <% if @tarea.usuario_id == current_user.id || current_user.rol = "Docente"%>
            <%if  current_user.rol == "Docente" %>
                <%if  @tarea.admitido == false %>
                  <a href="/tareas/aprove/<%=@tarea.id%>" role="button" class="btn">Aprobar tarea</a>
                <%end%>
              <%end%>
              <%= link_to 'Eliminar', "/tareas/eliminar/"+@tarea.id.to_s, data: { confirm: 'Se eliminara la tarea, ¿Está seguro?' } %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to 'Editar', "/tareas/edit/"+@tarea.id.to_s %>
              
            <%elsif(!@enviado)%>
                <%if(!@tarea.tarea_caducada)%><br>
                  <%= link_to 'Responder', "/tareas/responder_tarea/"+@tarea.id.to_s%>
                <%else%>
                  <h4>La fecha de entrega finalizó.<h4>
                <%end%>
                  <%else%>
                    <h4>Ya respondio esta tarea<h4>
                <% end %>
          </div>
      </div>
    </div>  
  </div>
  <% if(@tarea.archivo_adjuntos.size>0) %>
          <div class="row">
            <div class="panel panel-success">
                <div class="panel-body">
                  <label><i class="icon-download"></i> Adjuntos</label>
                  <hr style="margin-top:0px;" />
                  <ul>
                  <% @tarea.archivo_adjuntos.each do |arch| %>
                    <li class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
                      <% if arch.archivo_file_name.split('.').last=="jpg" or arch.archivo_file_name.split('.').last=="jpeg" or arch.archivo_file_name.split('.').last=="png" %>
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>"><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a> 
                        <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria- labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <%= image_tag arch.archivo.url %>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <a href="https://docs.google.com/gview?url=<%=arch.archivo.url%>&embedded=true" target="_blank"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a>
                        <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
                      <% end %>
                    </li>
                  <%end%>
                  <% if @tarea_base !=nil %>
                  <% @tarea_base.archivo_adjuntos.each do |arch| %>
                  <li class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
                      <a href="<%=arch.archivo.url(download: true)%>"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a>
                    </li>
                    <%end%>
                  <%end %>
                  </ul>
                  </div>
              </div>
          </div>
          <% end %>
        
      
</div>
<% if @tarea.usuario_id==current_user.id %>
<div class="col-lg-6 col-md-6">
    <table class="table table-user-information">
    <thead>
      <tr>
          <th> Estudiante </th>
          <th> Detalle </th>
          <th> Fecha de envio </th>
      </tr>
    </thead>
    <tbody>
      <% @tareas_enviadas.each do |tarea_enviada| %>
          <tr style='cursor:pointer' onclick=<%="document.location.href='/tareas/mostrar_respuesta_tarea/"+tarea_enviada.id.to_s+"'"%>>
            <td>
              <FONT FACE="raro, courier" SIZE=3 COLOR="black"> <%= link_to tarea_enviada.usuario.nombre_usuario,  tarea_enviada.usuario %></FONT>
            </td>
            <td><%= tarea_enviada.descripcion[0..10]+"..." %></td>
            <td><%= tarea_enviada.created_at.strftime("%e-%m-%Y") %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%end%>
</div>
<div class="panel panel-success">
<div class="panel-heading  ">
    
<%if current_user!=nil%>
  <%= form_for([@tarea, @tarea.tarea_comentarios.build], :html => { :class => 'bs-example form-horizontal', :multipart => true}) do |f| %>
      <div class="form-group">
        <label for="inputContent">Comentario:</label>
            <%= f.text_area :cuerpo, :class=>'form-control',:rows=>'4', :cols =>'20', :placeholder=>'Contenido', :required=>true %>
      </div>
      <div class="form-group">
          <label for="inputDate" >Adjuntar archivos:</label>
          <div class="col-lg-10 input-group">
            <input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('tarea_comentario_archivo').click();" onfocus="this.blur();">
              <%= f.file_field :archivo , :class=>'form-control',:multiple => true, :style=>"display:none;", :onchange=>"document.getElementById('showFiles').value = (this.files.length>1)?''+this.files.length+' Archivos seleccionados.':this.files[0].name;" %>
            <span class="input-group-addon" style="background-color: #256188; cursor:pointer;" onclick="document.getElementById('tarea_comentario_archivo').click();">
              <i class="icon-file icon-white"></i>
              </span>
          </div>
      </div>
      <div class="form-group" align="right">
          <input type="submit" value="Comentar" class="btn btn-success">
      </div>
    <% end %>
<%end%>

</div>
</div>
<div class="media">
<% @todos_los_comentarios.each do |comentario| %>
  <%if(comentario.id!=nil)%>
  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag avatar_tam_url(comentario.usuario,70) %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to comentario.usuario.nombre_usuario, comentario.usuario %></h4>
      <%=comentario.cuerpo%>
      <br>
      <small><%= comentario.created_at.strftime("%d-%m-%Y %H:%M:%S")%></small></h5>
      <%if current_user!=nil && comentario.usuario.id == current_user.id%>
        <%= link_to 'Editar', "/tareas/editar_comentario/"+comentario.id.to_s %>
        <%= link_to 'Eliminar', "/tarea_comentarios/delete/"+comentario.id.to_s, data: { confirm: 'Se eliminara el comentario, ¿está seguro?' } %>

      <%end%>
    </div>
  </div>
<%if (comentario.adjunto_tarea_comentarios.size>0)%>
  
    <div class="panel-group" id="acordeon<%=comentario.id%>">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#acordeon<%=comentario.id%>" href="#collapse<%=comentario.id%>">
              <div>
              Archivos adjuntos
              </div>
            </a>
          </h4>
        </div>
        <div id="collapse<%=comentario.id%>" class="panel-collapse collapse">
          <div class="panel-body">
            <% comentario.adjunto_tarea_comentarios.each do |arch|%>
                <div class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
                  <% if arch.archivo_file_name.split('.').last=="jpg" or arch.archivo_file_name.split('.').last=="jpeg" or arch.archivo_file_name.split('.').last=="png" %>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>"><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a> 
                    <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria- labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <%= image_tag arch.archivo.url %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <a href="https://docs.google.com/gview?url=<%=arch.archivo.url%>&embedded=true" target="_blank"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a>
                    <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
                  <% end %>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  
  <div class="col-lg-4">
  </div>

<%end%>
  <%end%>
<%end%>
</div>



<script>
  $(document).ready(function() {
     $('#top').find('a').trigger('click');
    });
 </script>
<script type="text/javascript">
  getImagesForAttachedFiles();
</script>