<%= form_for @tema, :html => { :class => 'bs-example form-horizontal' } do |f| %>
<%= f.hidden_field :id,:value => @id%>
  <div class="row">
          <div class="col-lg-10">
            <div class="well">
                <fieldset>
                  <legend>Ingrese los datos del tema </legend>
                  <div class="form-group">
                     <label for="inputTitle" class="col-lg-2 control-label">Titulo:</label>
                    <div class="col-lg-10">
                        <%= f.text_field :titulo , :class=>'form-control', :placeholder=>'Titulo', :maxlength => 50 ,:required => true, :title => "El titulo del tema es obligatorio, Por favor rellene este campo" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputContent" class="col-lg-2 control-label">Contenido:</label>
                    <div class="col-lg-10">
                      <%= f.text_area :cuerpo, :class=>'form-control',:rows=>'6', :placeholder=>'Contenido', :maxlength => 500, :required => true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputGroup" class="col-lg-2 control-label">Grupo:</label>
                    <div class="col-lg-10">
                      <%=f.collection_select(:grupo_id, @grupos, :id, :nombre, {:selected => @grupo.id}, :class=>'form-control')%>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <input type="submit" value="Crear tema" class="btn btn-primary">
                    </div>
                  </div>
                </fieldset>
        </div>
    </div>  
   </div>
<% end %>
