<h1>Lista de temas</h1>
<form method="GET" action="/temas/search">
	<font size="3" color="maroon">Buscar Tema por Titulo:  
	<input type="text" name="titulo">
	<input type="submit" value="Buscar">
</form>
<br>
<a class="btn btn-primary btn-lg" href="/temas/new">Nuevo Tema</a>
<br>
<table>
  <thead>
    <tr>
      <th><%=sortable "Titulo" %></th>
	  <th><%=sortable "created_at","Fecha Publicacion"%> </th>
	  <th><%=sortable "Cuerpo" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>    
    <% @temas.each do |tema| %>
      <%if tema.visible==1 %>
      <tr>
        <td><%= tema.titulo %></td>
		<td><%= tema.created_at.strftime("%B %e, %Y") %></td>
		<td><%= tema.cuerpo %></td>
        <td><%= link_to ' Editar',edit_tema_path(tema) %></td>
        <td><%= link_to 'Show',tema %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
