
<div class="page-header">
     <h1 id="forms">Lista de Temas</h1>
</div>
<form method="GET" action="/temas/search">
<div class="row">
  <%if current_user!=nil%>
    <div class="col-sm-12 col-md-2 col-lg-2">
      <a class="btn btn-primary btn-lg" href="/temas/new">Nuevo Tema</a>
    </div> 
  <%end%>
  <div class="input-group col-sm-12 col-md-8 col-lg-8" >
    <span class="input-group-addon ">Titulo:</span>
    <input type="text" name="titulo" class="form-control">
    <span class="input-group-addon">Descripcion:</span>
    <input type="text" name="descripcion"  class="form-control">
    <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Buscar Temas">
    </span>
  </div>

</div>
  
</form>
<br>

<br>

<br>
<div class="row">
<div class="col-lg-10">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
            <th>#</th>
      <th><%=sortable "Titulo" %></th>
    <th><%=sortable "Cuerpo" %></th>

    </tr>
  </thead>
                <tbody>    
    <% ind=1 %>
    <%= @mine.to_s %>
    <% @temas.each do |tema| %>
      <%if tema.visible==1 %>
      <tr style='cursor:pointer' onclick=<%="document.location.href='/temas/"+tema.id.to_s+"'"%>>
        <td><%= ind %></td>
        <td>
          <FONT FACE="raro, courier" SIZE=5 COLOR="black"> <%= tema.titulo %><br> </FONT>
          <SUB><%= tema.created_at.strftime("%Y-%m-%e")  %></SUB>
        </td>
    <td><%= tema.cuerpo %></td>
    
      </tr>
      <% ind+=1 %>
      <% end %>
    <% end %>
  </tbody>
              </table>
</div>
</div>