
<h1>Lista de temas</h1>
<form method="GET" action="/temas/search">
	<font size="3" color="maroon">Buscar Tema por Titulo:  
	<input type="text" name="titulo">
	<input type="submit" value="Buscar">
</form>
<br>
<a class="btn btn-primary btn-lg" href="/temas/new">Nuevo Tema</a>
<br>

<br>
<div class="row">
<div class="col-lg-10">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
            <th>#</th>
      <th><%=sortable "Titulo" %></th>
    <th><%=sortable "created_at","Fecha Publicacion"%> </th>
    <th><%=sortable "Cuerpo" %></th>

    </tr>
  </thead>
                <tbody>    
    <% ind=1 %>

    <% @temas.each do |tema| %>
      <%if tema.visible==1 %>
      <tr>
        <td><%= ind %></td>
        <td><a name="Nuevo_Tema" id="Nuevo_Tema" href=<%="/temas/"+tema.id.to_s%>><%= tema.titulo %></a></td>

    <td><%= tema.created_at.strftime("%B %e, %Y") %></td>
    <td><%= tema.cuerpo %></td>     
      </tr>
      <% ind+=1 %>
      <% end %>
    <% end %>
  </tbody>
              </table>
</div>
</div>