
<div class="page-header">
     <h1 id="forms">Lista de Temas</h1>
</div>

<form method="GET" action="/temas/search">
	<font size="3" color="maroon">Buscar Tema por Titulo:  
	<input type="text" name="titulo">
	<input type="submit" value="Buscar">
</form>
<br>
<a class="btn btn-primary btn-lg" href="/temas/new">Nuevo Tema</a>
<br>

<br>
<div class="row">
<div class="col-lg-10">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
            <th>#</th>
      <th><%=sortable "Titulo" %></th>
    <th><%=sortable "created_at","Fecha Publicacion"%> </th>
    <th><%=sortable "Cuerpo" %></th>

    </tr>
  </thead>
                <tbody>    
    <% ind=1 %>

    <% @temas.each do |tema| %>
      <%if tema.visible==1 %>
      <tr style='cursor:pointer' onclick=<%="document.location.href='/temas/"+tema.id.to_s+"'"%>>
        <td><%= ind %></td>
        <td><%= tema.titulo %></td>

    <td><%= tema.created_at.strftime("%Y-%m-%e Hora: %I:%M") %></td>
    <td><%= tema.cuerpo %></td>
    <td><% if(tema.usuario.correo == current_user.correo)%>
        <%= link_to ' Editar',edit_tema_path(tema) %>
        <% end %></td>
      </tr>
      <% ind+=1 %>
      <% end %>
    <% end %>
  </tbody>
              </table>
</div>
</div>