<div class="page-header">
     <h1 id="forms">Lista de Temas</h1>
</div>

<form method="GET" action="/temas/buscar/<%=@grupo.id%>">
  <%if current_user!=nil%>
      <a class="btn btn-primary btn-lg" onclick="throwFade()" href="/temas/new/<%=@grupo.id%>"><span class="icon-list icon-white"></span>Nuevo Tema</a>
  <%end%>
</form>
<br>


<%if @temas.size != 0%>
    <% @var = "titulo" %>
    <!--% @var2 = "detalle" %-->
    <% @var2 = "fecha" %>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Ordenar por:</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%=link_to "Titulo", ordertable_path(@ides,@grupo.id,@var)%></li>
        <!--li><%=link_to "Detalle", ordertable_path(@ides,@grupo.id,@var2)%></li-->
        <li><%=link_to "Fecha", ordertable_path(@ides,@grupo.id,@var2)%></li>
      </ul>
    </div>
  <%end%>
</br>
</br>

<% @temas.each do |tema| %>
<%= hidden_field :id,:value => tema.grupo_id%>  
<div class="panel panel-info" style='cursor:pointer' onclick=<%="document.location.href='/"+tema.class.name.downcase+"s/"+tema.id.to_s+"'"%>>  
  <div class="panel-heading"><h3><%= tema.titulo %></h3></div>
  <div class="panel-body">
    <img title="Tema" src="/assets/tema.png" class="square-color-tema hidden-phone" />&nbsp;
    <span><%= tema.cuerpo[0,315]+(tema.cuerpo.length>315 ? "..." : "")  %></span>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><small style="color: gray;">Tema creado el <%= tema.created_at.localtime.strftime("%d/%m/%Y a las: %I:%M  %p") %><br/>
                Usuario <a href="/usuarios/<%=tema.usuario_id%>"><%= tema.usuario.nombre %></a> </small></li>
  </ul>
</div>
<%end%>
<center><%= paginate @temas%></center>

<script type="text/javascript">
   $(".square-color-tema").css("background-color",get_random_color());
</script>