<div class="row">
<div class="col-lg-6 ">
    <div class="well">
        <form class="bs-example form-horizontal">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div>
                  <%= image_tag avatar_tam_url(@tema.usuario,110) %>
                </div>
                <div>
                  <sub><%= @tema.usuario.nombre_usuario%></sub>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-9 col-sm-9">
            <div class=row>
              <legend>
                &nbsp;<%= @tema.titulo %></legend>
            </div>
            <div class=row>
              <table class="table table-bordered">
                <tr>
                  <td>&nbsp;<%= @tema.created_at.strftime("%Y-%m-%e Hora: %I:%M") %></td>
                </tr>
                <tr>
                  <td>&nbsp;<%= @tema.cuerpo %></td>
                </tr>
              </table>
            </div>
              <div class=row>
                <%if current_user!=nil && @tema.usuario.correo==current_user.correo%>
                &nbsp;<%= link_to "Editar", edit_tema_path(@tema), :method => :post%>
                &nbsp;&nbsp;&nbsp;<%= link_to 'Eliminar Tema', visible_tema_path(@tema) %>
                    <%end%>
                 &nbsp;&nbsp;&nbsp;   
                <%if current_user!=nil%> 
                <%cont=0%>
                  <% current_user.suscripcion_temas.each do |subs| %>
                    <% if subs.tema_id == @tema.id%>
                      <% cont=cont+1%>
                      <%= link_to "Ya no me Interesa", rechazar_tema_path(@tema.id)%> 
                    <%end%>
                  <%end%>    
                  <% if cont <= 0 %>
                      <%= link_to "Me Interesa", suscribirse_tema_path(@tema.id)%>  
                  <%end%>   
                <%end%>
              </div>
            </div>
          </div>
        </form>
      </div>
</div>
</div>
<div class="row">
<div class="col-lg-6 ">
    <div class="well">
<%if current_user!=nil%>
	<%= form_for([@tema, @tema.tema_comentarios.build]) do |f| %>
      <div class="form-group">
        <label for="inputContent">Comentario:</label>
            <%= f.text_area :body, :class=>'form-control',:rows=>'4', :cols =>'20', :placeholder=>'Contenido' %>
      </div>
      <div class="form-group">
           <label for="inputDate" class="col-lg-2 control-label">Adjuntar archivos:</label>
            <div class="col-lg-10 input-group">
            <input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('tarea_archivo').click();" onfocus="this.blur();">

             

          
            <span class="input-group-addon" style="background-color: #D5230F; cursor:pointer;" onclick="document.getElementById('tarea_archivo').click();"> 
              <i class="icon-file icon-white"></i>
            </span>
            </div>
      </div>
      <div class="form-group">
          <input type="submit" value="Comentar" class="btn btn-primary">
      </div>
		<% end %>
<%end%>
</div>
</div>
</div>
<div class="col-12 col-md-10 col-lg-8">
<center><%= paginate @comentarios %></center>
<%for comentario in @comentarios%>
	<%if(comentario.id!=nil)%>
	<div class="media">
	  <a class="pull-left" href="#">
	  	<%= image_tag avatar_tam_url(comentario.usuario,70) %>	  
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%=comentario.usuario.nombre_usuario%></h4>
	    <%=comentario.body%>
	    <br>
	    <%if current_user!=nil && comentario.usuario.correo == current_user.correo%>
	    	<%= link_to 'Editar', "/temas/editcomentario/"+comentario.id.to_s %>
        <%= link_to 'Eliminar', "/comentarios/delete/"+comentario.id.to_s, data: { confirm: 'Se eliminara el tema, ¿está seguro?' } %>
	    <%end%>
	  </div>
	</div>
	<%end%>
<%end%>
</div>
