<p>
  <b>Titulo:</b>
  <%= @tema.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @tema.cuerpo %>
</p>
<td><%= link_to 'visible', visible_tema_path(@tema) %></td>
<%= form_for([@tema, @tema.comments.build]) do |f| %>
		<div class = "field">
			<h4><strong>Comentario</strong></h4>
			<%= f.text_area :body, cols: 30, rows: 10 %>
		</div>

		<div class = "action">
			<button class = "btn btn-inverse" type = "f.submit">
       			Submit
    		</button>
		</div>
	<% end %>
<div class="col-12 col-md-10 col-lg-8">
<%for comment in @tema.comments%>
	<%if(comment.id!=nil)%>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="/assets/anonimo.png" alt="Anonimo" width="80px">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%=comment.usuario.correo%></h4>
	    <%=comment.body%>
	    <br>
	    <%if comment.usuario.correo == current_user.correo%>
	    	<%= link_to 'Editar', "/temas/editComment/"+comment.id.to_s %>
	    <%end%>
	  </div>
	</div>
	<%end%>
<%end%>
</div>
<%= link_to 'Atras', temas_path %>
