<div class="panel panel-info">
  <div class="panel-heading"><h3 align="center"><%= @tema.titulo%></h3></div>
  <div class="panel-body">
    <table class="table-responsive">
      <tr>
        <th><%= image_tag avatar_tam_url(@tema.usuario,100)%></th>
        <th>&nbsp;&nbsp;</th>
        <td><%= @tema.cuerpo%></td>
      </tr>  
      <tr>
        <td><small><center><%= link_to @tema.usuario.nombre_usuario,  @tema.usuario %></center></small></td>
        <th></th>
        <td><p style="color: gray;">Tema creado: <%= @tema.created_at.strftime("%Y-%m-%e Hora: %I:%M") %></p></td>
      </tr>
    </table>
      <b>Grupos</b><br/>
          <% @tema.grupos_pertenece.each do |grupo| %>
            <%= Grupo.find(grupo).nombre %><br/>
          <% end %>
    <!--Adjuntos-->
    <span>
      <% if(@tema.archivo_adjunto_temas.size>0) %>
        <label><i class="icon-download"></i> Adjuntos</label>
        <hr style="margin-top:0px;" />
        <ul>
        <% @tema.archivo_adjunto_temas.each do |arch| %>
          <li class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
            <% if arch.archivo_file_name.split('.').last=="jpg" or arch.archivo_file_name.split('.').last=="jpeg" or arch.archivo_file_name.split('.').last=="png" %>
              <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>"><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a> 
              <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria- labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <%= image_tag arch.archivo.url %>
                  </div>
                </div>
              </div>
            <% else %>
              <a href="https://docs.google.com/gview?url=<%=arch.archivo.url%>&embedded=true" target="_blank"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a>
              <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
            <% end %>
          </li>
          </br>
        <%end%>
        </ul>
      <%end%>
    </span>

  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <!--Botones-->
      <center>
      <%if current_user!=nil && @tema.usuario_correo==current_user.correo%>
        <%= link_to "Editar", edit_tema_path(@tema), :method => :post, :class => "btn btn-warning"%>                   
        <%if @tema.grupo.usuario_id == current_user.id || @tema.usuario_correo==current_user.correo %>
          <%= link_to 'Eliminar', visible_tema_path(@tema),:class => "btn btn-danger", data: { confirm: 'Se eliminara el tema, ¿Está seguro?' } %>
        <%end%>
      <%end%>
      
      <%if current_user!=nil%>
        <%cont=0%>
          <% current_user.suscripcion_temas.each do |subs| %>
            <% if subs.tema_id == @tema.id%>
              <% cont=cont+1%>
              <%= link_to "Ya no me Interesa", rechazar_tema_path(@tema.id), :class=> "btn btn-primary"%>
            <%end%>
          <%end%>
            <% if cont <= 0 %>
              <%= link_to "Me Interesa", suscribirse_tema_path(@tema.id) , :class=> "btn btn-primary"%>
            <%end%>
      <%end%>
    </center>
    </li>
  </ul>
</div>

<%if current_user!=nil%>
<h3>Comentarios:</h3>
<%for comentario in @comentarios%>
  <%if(comentario.id!=nil)%>
  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag avatar_tam_url(comentario.usuario,70) %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to comentario.usuario.nombre_usuario,  comentario.usuario %></h4>
      <%=comentario.cuerpo%>
      <!--adjuntos-->
      <% comentario.adjunto_tema_comentarios.each do |arch|%>
        <div class="attachment-link" title="Archivo tipo .<%=arch.archivo_file_name.split('.').last%>">
          <% if arch.archivo_file_name.split('.').last=="jpg" or arch.archivo_file_name.split('.').last=="jpeg" or arch.archivo_file_name.split('.').last=="png" %>
              <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>"><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a> 
              <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
              <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria- labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <%= image_tag arch.archivo.url %>
                  </div>
                </div>
              </div>
            <% else %>
              <a href="https://docs.google.com/gview?url=<%=arch.archivo.url%>&embedded=true" target="_blank"><img class="attachment-img" src="/assets/filetypes/default.png" file-type="<%=arch.archivo_file_name.split('.').last%>" ><%=arch.archivo_file_name[0,arch.archivo_file_name.rindex('.')]%></a>
              <a href="<%=arch.archivo.url(download: true)%>">Descargar archivo</a>
            <% end %>
        </div>
      <%end%>
      <%if current_user!=nil && comentario.usuario.correo == current_user.correo%>
        <%= link_to 'Editar', "/temas/editar_comentario/"+comentario.id.to_s, :class=>"btn btn-xs btn-warning" %>
        <%= link_to 'Eliminar', "/tema_comentarios/delete/"+comentario.id.to_s, data: { confirm: 'Se eliminara el tema, ¿está seguro?' }, :class=>"btn btn-xs btn-danger" %>
      <%end%>
    </div>
  </div>
  <%end%>
<%end%>
  <br>
  <%if current_user!=nil%>
    <%= form_for([@tema, @tema.tema_comentarios.build], :html => { :class => 'bs-example form-horizontal', :multipart => true} ) do |f| %>
      <div class="form-group">
        <label for="inputContent">Añadir Comentario:</label>
        <%= f.text_area :cuerpo, :class=>'form-control',:rows=>'3', :placeholder=>'Contenido' %>
      </div>
      <div class="form-group">
        <label for="inputDate" class="col-lg-2 control-label">Adjuntar archivos:</label>
        <div class="col-lg-10 input-group">
        <input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('tema_comentario_archivo').click();" onfocus="this.blur();">
          <%= f.file_field :archivo , :class=>'form-control',:multiple => true, :style=>"display:none;", :onchange=>"document.getElementById('showFiles').value = (this.files.length>1)?''+this.files.length+' Archivos seleccionados.':this.files[0].name;" %>
          <span class="input-group-addon" style="background-color: #256188; cursor:pointer;" onclick="document.getElementById('tema_comentario_archivo').click();">
            <i class="icon-file icon-white"></i>
          </span>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Comentar" class="btn btn-primary">
      </div>
    <% end %>
  <%end%>
<center><%= paginate @comentarios %></center>
<%end%>
