<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <form class="bs-example form-horizontal">  
  <fieldset>
  <legend>Titulo:
  <%= @tema.titulo %>
  </legend>
    <div class="form-group">

      <div class="col-lg-10">
        <b>Contenido:</b><%= @tema.cuerpo %>
      </div>
    </div>
    <% if current_user!=nil && @tema.usuario.correo==current_user.correo%>
	 	<div>
	    <%= link_to "Editar", edit_tema_path(@tema), :method => :post%>
	    </div>
	<%end%>
  </fieldset>
</p>
</form>
      </div>
    </div>
  </div>
<%if current_user!=nil && @tema.usuario.correo == current_user.correo%>
<td><%= link_to 'Dejar de mostrar tema', visible_tema_path(@tema) %></td> 
<%end%>
<%if current_user!=nil%>
	<%= form_for([@tema, @tema.comments.build]) do |f| %>
			<div class = "field">
				<h4><strong>Comentario</strong></h4>
				<%= f.text_area :body, cols: 30, rows: 10 %>
			</div>

			<div class = "action">
				
	    		<input type="submit" value="Comentar" class="btn btn-inverse">
			</div>
		<% end %>
<%end%>
<div class="col-12 col-md-10 col-lg-8">
<%for comment in @tema.comments%>
	<%if(comment.id!=nil)%>
	<div class="media">
	  <a class="pull-left" href="#">
	  	<%= image_tag avatar_url(comment.usuario) %>	  
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%=comment.usuario.correo%></h4>
	    <%=comment.body%>
	    <br>
	    <%if current_user!=nil && comment.usuario.correo == current_user.correo%>
	    	<%= link_to 'Editar', "/temas/editComment/"+comment.id.to_s %>
	    <%end%>
	  </div>
	</div>
	<%end%>
<%end%>
</div>
<%= link_to 'Atras', temas_path %>
