<%= nested_form_for @cuestionario, :html => { :class => 'bs-example form-horizontal' } do |f| %>
  <div class="row">
          <div class="col-lg-10">
            <div class="well">
                <fieldset>
                  <legend>Ingrese los datos del cuestionario </legend>
                  <div class="form-group">
                     <label for="inputTitle" class="col-lg-2 control-label">Titulo:</label>
                    <div class="col-lg-10">
                        <%= f.text_field :titulo , :class=>'form-control', :placeholder=>'titulo', :maxlength => 50, :required => true, :title => "El titulo del cuestionario es obligatorio, Por favor rellene este campo"%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputContent" class="col-lg-2 control-label">Descripcion:</label>
                    <div class="col-lg-10">
                      <%= f.text_area :descripcion, :class=>'form-control',:rows=>'6', :placeholder=>'Descripcion', :maxlength => 500 %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Fecha limite</label>
                    <div class="col-lg-10">
                      <%= f.date_select :fecha_limite, :class=>'form-control' %>
                    </div>
                  </div>
                  <div class="field">
                    <%= f.hidden_field :grupo_id, :value => @grupo.id, :readonly => true %>
                  </div>
                  <div class="field">
                    <%= f.hidden_field :usuario_id, :value => @current_user.id, :readonly => true %>
                  </div>
                  <div class="col-lg-12 col-lg-offset-2">
                    <%= f.fields_for :preguntas do |preguntas_form| %>
                      <div class="panel panel-info">
                        <div class="panel-heading">Nueva Pregunta</div>
                        <div class="panel-body">
                          <div class="form-group">
                            <label for="inputTitle" class="col-lg-2 control-label">Pregunta:</label>
                            <div class="col-lg-10">
                                <%= preguntas_form.text_field :texto, :class=>'form-control', :placeholder=>'Pregunta', :maxlength => 50, :required => true, :title => "El titulo del cuestionario es obligatorio, Por favor rellene este campo" %>
                            </div>
                          </div>
                          <div class="form-group nested_fields">
                            <label for="inputTitle" class="col-lg-2 control-label ">Tipo de respuesta:</label>
                            <div class="col-lg-10 nested_fields">
                                <%=preguntas_form.select :tipo, ['Seleccion Multiple','Seleccion Unica','Respuesta libre'], :class=>'form-control' %>
                                
                            </div>
                          </div>
                          <% f.fields_for :answers do |builder| %>
                            <%= render 'campo_de_respuesta', :f => builder %>
                          <% end %>
                          <div class="form-group">
                            <div class="col-lg-10">
                               <%= preguntas_form.link_to_remove "Eliminar Pregunta", :class=>"btn btn-warning" %>
                            </div>
                          </div>
                       
                      <% end %>
                        <div class="form-group">
                            <div class="col-lg-10 ">
                              <%= f.link_to_add "Agregar Pregunta", :preguntas, :class=>"btn btn-success" %>
                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <input type="submit" value="Crear cuestionario" class="btn btn-primary">
                    </div>
                  </div>
                </fieldset>
        </div>
    </div>
   </div>

<% end %>