<div class="panel panel-info">
  
  <div class="panel-heading"><center><h3>
      <h1>Lista de Cuestionarios</h1>
  </h3></center></div>
  <div class="panel-body">
  
  <%if current_user!=nil && current_user.id==@grupo.usuario_id && current_user.rol == "Docente" %>
    
          <a class="btn btn-primary btn-lg" onclick="throwFade()" href="/cuestionarios/nuevo_cuestionario/<%=@grupo.id%>"><span class="icon-pencil icon-white" style="vertical-align:-1px;  margin-right:7px; "></span>Nuevo Cuestionario</a><br><br>
    
  <% end %>

        <% @cuestionarios.each do |cuestionario| %>
    <% if current_user.rol == "Estudiante" && cuestionario.estado == true || current_user.rol == "Docente" %>
    <% if !cuestionario.esta_cerrado_cuestionario?(cuestionario.fecha_limite, cuestionario.hora_limite) || current_user.rol == "Docente"  %>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse" + cuestionario.id.to_s %>">
              <%= cuestionario.titulo%>
            </a>
          </h4>
        </div>
        <div id="<%= "collapse" + cuestionario.id.to_s%>" class="panel-collapse collapse in">
          <div class="panel-body">
            
                
                  <br>
                  <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Titulo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= cuestionario.titulo %></td>
                    </tr>
                  </tbody>
                  </table>
                  <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Descripcion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= cuestionario.descripcion %></td>
                    </tr>
                  </tbody>
                  </table>
                  <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Fecha Limite</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= cuestionario.fecha_limite.strftime("%m/%d/%Y") %></td>
                    </tr>
                  </tbody>
                  </table>
                  <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Hora Limite</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= cuestionario.hora_limite.strftime("%I:%M %p") %></td>
                    </tr>
                  </tbody>
                  </table>
                <ul class="list-group">
                <li class="list-group-item">
                <center>
                  <%if cuestionario.usuario_id!= current_user.id && !RespuestaUsuario.ya_respondio_cuestionario(current_user.id,cuestionario.id)%>
                    
                    <%= link_to "Responder Cuestionario", nuevo_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>  

                  <%end%>
                      <%if cuestionario.usuario_id!= current_user.id && RespuestaUsuario.ya_respondio_cuestionario(current_user.id,cuestionario.id)%>
                        <h4>Ya resolvio este cuestionario</h4>

                        <%= link_to "Ver Resultado", ver_resultado_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>
                      <%end%>
                  <% if (cuestionario.usuario_id== current_user.id )%>
                    </br>
                    <!-- 
                    <%if cuestionario.estado == false %>
                      <form class="navbar-form navbar-left" method="get" action=<%= edit_cuestionario_path(cuestionario)%>>
                        <button type="submit" class="btn btn-xs btn-primary">Editar Cuestionario</button>
                      </form>
                      <% end %>-->

                      <%= link_to "Eliminar cuestionario", borrar_cuestionario_path(cuestionario.id), :data => { :confirm => 'Se eliminara el cuestionario, ¿está seguro?'}, :class => "btn btn-primary btn-xs" %>

                      <%= link_to "Editar Cuestionario", editar_cuestionario_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>  

                    <%= link_to "Calificar Cuestionarios", ver_cuestionarios_usuarios_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>


                    <%= link_to "Resultados Individuales", ver_resultados_usuarios_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>
  

                    <%= link_to "Resumen de Resultados", ver_resumen_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>

                    <%if cuestionario.estado == false %>

                    <%= link_to "Publicar Cuestionario", publicarlo_path(cuestionario.id), :class => "btn btn-primary btn-xs" %>

                    <% end %>
                    </center>
                    </li>
                </ul>
                <%end%>
              </div>
            </div>          
      </div>
    </div>
    <% else %>
      <h1>Cuestionario:<%= cuestionario.titulo %>/Cerrado</h1>
    <% end %>
    <% end %>
    <% end %>
    
  </div>
  <center>
</div>
