  <div class="panel panel-info">
  <div class="panel-heading"><center><h3><b>Resultados Individuales</b></h3></center></div>
  <div class="panel-body">
    <% @usuarios.each do |usuario| %>
      <div class="panel-group" id="accordion">
       <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse"+ usuario.id.to_s %>">  
          <h4 class="list-group-item-heading"> <%= image_tag avatar_tam_url(usuario,40) %>&nbsp;&nbsp;<%= usuario.nombre %> &nbsp;<%= usuario.apellido %></h4>
          </a>
        </div> 
      
      <div id="<%= "collapse"+usuario.id.to_s%>" class="panel-collapse collapse in">
        <div class="panel-body">
        <div class="well">
        <div class="row">
          <% @preguntas.each do |pregunta| %>
            <table class="table table-striped table-bordered table-hover">
              <% if !RespuestaUsuario.ya_respondio_cuestionario(usuario.id,pregunta.cuestionario_id) %>
                <thead>
                  <tr>
                    <th> Aun no respondio el cuestionario </th>
                  </tr>
                </thead>
              <% end %>
              <thead>
                <tr>
                  <th>Pregunta: <%= pregunta.texto %></th>
                </tr>
              </thead>
            </table>
            <% @respuestas.each do |respuesta|%>
              <% if respuesta.usuario_id == usuario.id && pregunta.id == respuesta.pregunta_id%>
                <table class="table table-striped table-bordered table-hover">
                  <tbody>
                    <tr>
                      <td>Respuesta: <%= respuesta.respuesta %></td>
                      <td>
                          <% if respuesta.calificacion == true %>
                            Correcta
                          <% end %> 
                          <% if respuesta.calificacion == false %>
                            Incorrecta
                          <% end %>
                          <% if respuesta.calificacion == nil %>
                            No corregida
                          <% end %>
                      </td>
                    </tr>
                  </tbody>
                  <% if respuesta.tipo == "Texto Libre" %>
                    <tbody>
                      <tr>
                        <td> Comentario: </td>
                        <td> <%= respuesta.comentario.to_s %> </td>
                      </tr>
                    </tbody>    
                  <% end %>
                </table>
                
              <% end %>   
            <% end %><br>
          <% end %>    
        </div>
        </div>  
        </div>
        </div>
      </div>    
      </div>
    <% end %>
  </div>
</div>