<!--div class="row"-->
<%= form_for@grupo_nuevo, :html => { :class => 'bs-example form-horizontal', :multipart => true} do |f| %>
  <%= f.hidden_field :id,:value => @id%>
      <% if@grupo_nuevo.errors.any? %>
        <div id ="errorRegistroUsuario" class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul>
            <%@grupo_nuevo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>                
  <div class="panel panel-info">
    <div class="panel-heading"><Center><H3><b>Ingrese los datos del grupo</b></H3></Center></div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><b>Nombre:</b></td>
              <td> <%= f.text_field :nombre,  :placeholder=>'Nombre', :maxlength => 50, :required => true, :title => "El nombre del grupo es obligatorio, Por favor rellene este campo"%></td>
            </tr>
            <tr>
              <td><b>Descripcion:</b></td>
              <td><%= f.text_area :descripcion, :size => "30x5", :placeholder=>'Descripcion', :maxlength => 500,:required=>true %></td>
            </tr>
            <tr>
              <td><b>Estado:</b></td>
              <td><select id="grupo_estado" name="grupo[estado]">
                            <option value= "true">Privado</option>
                            <option value = "false">Publico</option>
                      </select></td>
            </tr>
          </tbody>
        </table>
      </div>
    <ul class="list-group">
      <li class="list-group-item">
          <center>
            <a href="javascript:window.history.back();" class="btn btn-danger">&laquo; Cancelar</a>
            <input type="submit" value="Crear grupo" class="btn btn-success">
          </center>
      </li>
    </ul>
  </div>
<% end %>