<div class="page-header">
     <h1 id="forms">Lista de Grupos</h1>
</div>

<form method="GET" action="/grupos/buscar">
  <%if current_user!=nil && current_user.rol == "Docente" %>
  <a class="btn btn-primary btn-lg" onclick="throwFade()" href="/grupos/new"><span class="icon-list icon-white"></span>Nuevo Grupo</a>
<%end%>
<br/>
<br/>
  <div class="input-group col-sm-12 col-md-8 col-lg-8" >
    <div class="col-md-8 control-label" ></div>
    <span class="input-group-addon ">Nombre:</span>
    <input type="text" name="nombre" class="form-control">
    <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Buscar Grupo">
    </span>
  </div>
</form>
<br/>

<% @grupos.each do |grupo| %> 
  <%if grupo.nombre!="Publico"%> 
    <div class="panel panel-info">
      <div class="panel-heading"><%= grupo.nombre %></div>
      <div class="panel-body">
      <span><%= image_tag avatar_tam_url(grupo.usuario,70) %></span>
        <span><%= grupo.descripcion  %></span>
        <br/>
        <%if current_user.id == grupo.usuario_id%>
        <br>
          <strong>Llave:</strong>
            <span><%= grupo.llave %></span>
        <% end %>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><small style="color: gray;">Grupo creado el <%= grupo.created_at.localtime.strftime("%d/%m/%Y a las: %I:%M  %p") %><br/>
                    Usuario <%= link_to grupo.usuario.nombre_usuario,  grupo.usuario %> </small></li>
      </ul>
      <div class="panel-body">

                <%if current_user.id != grupo.usuario_id && grupo.usuario_suscrito?(current_user.id) %>
                    <a href='<%=suscribirse_path(grupo)%>' class='btn btn-primary' style='margin-top:6px;'>Suscribirse al Grupo</a>
                <%end%>
                
                <%if grupo.usuario_suscrito?(current_user.id) == false and grupo.usuario_id!=current_user.id %>
                  <a href='/grupos/<%=grupo.id%>/temas' class='btn btn-primary' style='margin-top:6px;'>Ver Temas del grupo</a>
                  <a href='<%=invitacion_grupo_path(grupo)%>' class='btn btn-primary' style='margin-top:6px;'>Invitar Amigos al Grupo</a>
                <%end%>
                <% if grupo.usuario_id == current_user.id %>
                <ul class="list-group">
                    <li class="list-group-item">
                      <!--Botones-->
                      <center>
                        <a href='/grupos/<%=grupo.id%>/temas' class='btn btn-primary btn-xs' style="margin-top:1px;">Temas del grupo</a>

                    <a href='/grupos/<%=grupo.id%>/editar_grupo' class='btn btn-primary btn-xs' style="margin-top:1px;">Editar grupo</a>
                  
                    <a href='<%=suscriptores_path(grupo)%>' class='btn btn-primary btn-xs' style="margin-top:1px;">Suscriptores del Grupo</a>

                    <% if grupo.habilitado %>
                      <a href='/grupos/deshabilitar_grupo/<%= grupo.id%>' class='btn btn-primary btn-danger btn-xs' style="margin-top:1px;">Deshabilitar Grupo</a>
                    <% else %>
                      <a href='/grupos/habilitar_grupo/<%= grupo.id%>' class='btn btn-primary btn-danger btn-xs' style="margin-top:1px;">Habilitar Grupo</a>
                    <% end %>
                      </center>
                    </li>
                  </ul>
                <% end %>
      </div>
    </div>
  <%end%>

<%end%>
<center><%= paginate @grupos%></center>

<script type="text/javascript">
   $(".square-color-tema").css("background-color",get_random_color());
</script>