<div class="page-header">
     <h1 id="forms">Lista de Eventos</h1>
</div>

<% @eventos.each do |evento| %>  
  <%if evento.nombre != "Publico"%>
    <div class="panel panel-info">
      <div class="panel-heading"><h3><a href="/eventos/<%= evento.id %>"><%= evento.nombre %></a></h3>
      </div>
      <div class="panel-body">
        <center>
          <img title="Tema" src="/assets/tarea.png" style=" background-color: #5FC5F8;" />&nbsp;<br><br>
        </center>
        <center>
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td><b>Descripcion:</b></td>
                <td><%=evento.detalle%></td>
              </tr>
              <tr>
                <td><b>Lugar:</b></td>
                <td><%=evento.lugar%></td>
              </tr>
              <tr>
                <td><b>Fecha y Hora:</b></td>
                <td><%=evento.fecha%> <%=evento.hora.strftime("%H:%M")%></td>
              </tr>
              <tr>
                <td><b>Grupo:</b></td>
                <td><%=evento.grupo.nombre%></td>
              </tr>
            </tbody>
          </table>
        </center>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <small style="color: gray;">Evento creado el <%= evento.created_at.localtime.strftime("%d/%m/%Y a las: %I:%M  %p") %><br/>
          Usuario <a href="/usuarios/<%=evento.usuario.id%>"><%= evento.usuario.nombre_usuario %></a> </small>
          <p align="right">
            <%if  evento.usuario_id == current_user.id %>
              <%= link_to 'Eliminar Evento', evento, method: :delete, data: { confirm: 'Seguro de Eliminar el evento?' }, :class => 'btn btn-danger' %>
            <%end%>
          </p>
        </li>  
      </ul>
    </div>
  <%end%>
<%end%>

<center><%= paginate @eventos%></center>

<script type="text/javascript">
   $(".square-color-tema").css("background-color",get_random_color());
</script>