<div class="panel panel-warning">
  <div class="panel-heading"><h3 align="center"><%= @evento.nombre %></h3></div>
  <div class="panel-body">
    <table class="table-responsive">
      <tr>        
        <th><%= image_tag avatar_tam_url(@evento.usuario,100)%></th>
        <th>&nbsp;&nbsp;</th>        
        <td><%= @evento.detalle %></td>
      </tr>

      <tr>
        <td><small><center><%= link_to @evento.usuario.nombre_usuario,  @evento.usuario %></center></small></td>
      </tr>
      <tr>
      <td></td>
        <td><b>Lugar:</b></td>
        <td><%=@evento.lugar%></td>
      </tr>
      <tr>
        <td></td>
        <td><b>Fecha y Hora:&nbsp;&nbsp;</b></td>
        <td><%=@evento.fecha%><%=@evento.hora.strftime("%H:%M")%></td>
      </tr>
    </table>
  </div>
  <%if current_user!=nil && @evento.usuario_id==current_user.id || current_user.rol== "Docente"%>
  <ul class="list-group">
    <li class="list-group-item">
      <!--Botones-->
      <center>
        <%if  current_user.rol == "Docente" %>
          <%jojo=false%>
          <%= form_tag( {:action => "aprove"}) do %>
              <% @evento.grupos.each do |grupo| %>
                      <% if current_user.esta_subscrito?(grupo.id) && !@evento.aprobado?(grupo.id) && grupo.llave != "publico"%>
                        <% jojo = true %>
                        <strong><%=grupo.nombre%></strong> 
                        <%= check_box_tag  "grupos[]", grupo.id ,checked = false, :id => "check#{grupo.nombre.gsub(' ','_')}" %>Aprobar<br/>
                      <% end %>
                    <% end %>
                    <%if jojo%>
                    <button type="submit" class="btn btn-warning">Aprobar para grupos</button><br><br>
                    <%end%>
                <%end%>
        <%end%>
        <%if current_user!=nil && @evento.usuario_id==current_user.id%>
          <%= link_to "Editar", edit_evento_path(@evento), :class =>"btn btn-warning"%>
        <%end%>
        <%if  @evento.usuario_id==current_user.id || current_user.rol== "Docente" %>
          <%= link_to 'Eliminar Evento',@evento, :class => "btn btn-danger", method: :delete, data: { confirm: 'Se eliminara el evento, Está seguro?' } %>
        <%end%>
    </center>
    </li>
  </ul>
  <%end%>
</div>






