<div class="panel panel-info">
  <div class="panel-heading"><h3 align="center"><%= @evento.nombre %></h3></div>
  <div class="panel-body">
    <table class="table table-user-information">
      <tr>
        <td><b>Detalle:</b></td>
        <td><%= @evento.detalle %></td>
      </tr>  
      <tr>
        <td><b>Lugar:</b></td>
        <td><%=@evento.lugar%></td>
      </tr>
      <tr>
        <td><b>Fecha:</b></td>
        <td><%=@evento.fecha%></td>
      </tr>
      <tr>
        <td><b>Hora:</b></td>
        <td><%=@evento.hora.strftime("%H:%M")%></td>
      </tr>
    </table>
  </div>
  <%if current_user!=nil && @evento.usuario_id==current_user.id%>
  <ul class="list-group">
    <li class="list-group-item">
      <!--Botones-->
      <center>
        <%if current_user!=nil && @evento.usuario_id==current_user.id%>
          <%= link_to "Editar", edit_evento_path(@evento), :class =>"btn btn-warning"%>
        <%end%>
        <%if  @evento.usuario_id==current_user.id %>
          <%= link_to 'Eliminar Evento',@evento, :class => "btn btn-danger", method: :delete, data: { confirm: 'Se eliminara el evento, Está seguro?' } %>
        <%end%>
    </center>
    </li>
  </ul>
  <%end%>
</div>






