<%= form_tag( crear_path, :method=>'post', :multipart => true) do %>
<div class='bs-example form-horizontal'>
  <div class="row">
    <div class="col-lg-10">
       <div class="well">
          <fieldset>
            <% @cuestionario.preguntas.each do |pregunta| %>
              <div class="form-group">
                <label for="inputTitle" class="col-lg-3 control-label"><%= pregunta.texto %></label>
                  <% if pregunta.tipo != 'Texto Libre'%>
                    <% pregunta.respuestas.each do |respuesta| %>
                      <label for="inputTitle" class="control-label"><%= respuesta.texto %></label>
                        <%= check_box_tag 'resp[]', respuesta.texto %>
                        <%= hidden_field_tag 'id_pregunta[]', pregunta.id %>
                    <% end %><br>
                  <% else %>
                    <div class="col-lg-9">    
                      <%= text_area_tag 'resp[]', nil,options={:class=>'form-control' ,:placeholder => 'tu respuesta'} %>
                    </div>
                    <%= hidden_field_tag 'id_pregunta[]', pregunta.id %>
                  <!-- vista para adjutar archivos -->
                    <label for="inputTitle" class="col-lg-3 control-label">Adjuntar Archivo</label>
                     <div class="col-lg-4 input-group">
                     <input id="showFiles" class="form-control" type="text" placeholder="Seleccione archivos..." onclick="document.getElementById('respuesta_archivo').click();" onfocus="this.blur();">    
                    <%= file_field_tag :respuesta_archivo , :class=>'form-control',:multiple => true, :style=>"display:none;", :onchange=>"document.getElementById('showFiles').value = (this.files.length>1)?''+this.files.length+' Archivos seleccionados.':this.files[0].name;" %>
                      <span class="input-group-addon" style="background-color: #D5230F; cursor:pointer;" onclick="document.getElementById('respuesta_archivo').click();">
                      <i class="icon-file icon-white"></i>
                      </span>
                    </div>             
                  <!-- fin de vista para adjuntar archivos -->

                  <% end %>
              </div>
            <% end %>
            <%= hidden_field_tag :id_cuestionario, @cuestionario.id %>
            <%= hidden_field_tag :id_usuario, current_user.id %>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-10">
                <input type="submit" value="Aceptar" class="btn btn-primary">
              </div>
            </div>
        </fieldset>
      </div>
    </div>
   </div>
  </div>
<% end %>