<h1>Modificar Datos Personales</h1>
<div>
	<% if flash[:status] == TRUE %>
		<P><%= flash[:alert]%></P>
	<% elsif flash[:status] == FALSE%>
		<% flash[:alert].each do |error|%>
			<p><%= error %></p>
	<% end %>
<% end %>
</div>
<%= form_for @usuario do |usuario| %>
<div>
	<%= usuario.label(:nombre, "Nombre") %>
	<%= usuario.text_field :nombre %>
</div>
<div>
	<%= usuario.label(:apellido, "Apellido") %>
	<%= usuario.text_field :apellido %>
</div>
<div>
	<%= usuario.label(:correo, "Correo-Electronico") %>
	<%= usuario.text_field :correo %>
</div>
<div>
	<%= submit_tag "Modificar",:action=>'update' %>
</div>

<% end %>

