<h1>Modificar Datos Personales</h1>
<div>
	<% if flash[:status] == TRUE %>
		<P><%= flash[:alert]%></P>
	<% elsif flash[:status] == FALSE%>
		<% flash[:alert].each do |error|%>
			<p><%= error %></p>
	<% end %>
<% end %>
</div>
<%= form_for @usuario do |usuario| %>
<% usuario.hidden_field  :activa, :value=>true %>
<div class="row">
          <div class="col-lg-6">
            <div class="well">
              <form class="bs-example form-horizontal">
                <fieldset>
                  <legend>Ingrese sus datos para modificaciones.</legend>
                  <div class="col-lg-3" align="center">
                    <div class="row" align="center">
                      <%= image_tag avatar_tam_url(current_user,140) %>
                    </div>
                    <div class="row" align="center">
                      <a href="https://en.gravatar.com/"  target="_blank">Cambiar foto</a>
                    </div>
                  </div>
                  <div class="col-lg-9" align="center">
                    <div class="form-group">
                      <label for="inputName" class="col-lg-4 control-label">Nombre:</label>
                      <div class="col-lg-8">
                        <%= usuario.text_field :nombre, :class=>'form-control', :placeholder=>'Nombre' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-lg-4 control-label">Apellido:</label>
                      <div class="col-lg-8">
                        <%= usuario.text_field :apellido, :class=>'form-control', :placeholder=>'Apellido'  %>
                      </div>
                    </div><br><br><br>
                    <div class="form-group">
                        <div class="checkbox">
                          <label class="col-lg-4 control-label">
                          <%if @usuario.mostrar_correo %>
                            <input type="checkbox"  checked name="mostrarcorreo"> Mostrar Correo
                          <%else%>
                            <input type="checkbox" name="mostrarcorreo" > Mostrar Correo
                          <%end%>
                          </label>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-4">
                        &nbsp;
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-4">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
        </div>
    </div>
   </div>
<% end %>