<h1>Registro</h1>
<!-- <p>Find me in app/views/usuarios/new.html.erb</p> -->

<div>
	<% if flash[:status] == TRUE %>
		<P><%= flash[:alert]%></P>
	<% elsif flash[:status] == FALSE%>
		<% flash[:alert].each do |error|%>
			<p><%= error %></p>
	<% end %>
<% end %>
</div>
<%= form_for @usuario do |usuario| %>
<div>
	<%= usuario.label(:nombre, "Nombre") %>
	<%= usuario.text_field :nombre %>
</div>
<div>
	<%= usuario.label(:apellido, "Apellido") %>
	<%= usuario.text_field :apellido %>
</div>
<div>
	<%= usuario.label(:contrasenia, "Contraseña") %>
	<%= usuario.password_field :contrasenia %>
</div>
<div>
	<%= usuario.label(:contrasenia_de_confirmacion, "confirmacion de contraseña") %>
	<%= usuario.password_field :contrasenia_de_confirmacion %>
</div>
<div>
	<%= usuario.label(:correo, "Correo-Electronico") %>
	<%= usuario.text_field :correo %>
</div>
<div>
	<%= submit_tag "Registrar"%>
</div>

<% end %>
