<% if current_user != nil %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                        <!--img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" /-->
                            <%= image_tag avatar_tam_url(@usuario,140) %>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <CENTER><h4><%=@usuario.nombre%> <%=@usuario.apellido%> </h4></CENTER>
                            <p>
                        	   <% if @usuario.mostrar_correo ||  @usuario.id == current_user.id %>
                                 <i class="glyphicon glyphicon-envelope"></i><%=@usuario.correo%>
                                <%end%>
                                <br />
                            <!--i class="glyphicon glyphicon-gift"></i>June 02, 1988</p-->
                            </p>
                            <% if @usuario.id == current_user.id %>
					  		   <%= link_to "Modificar Perfil",  usuario_edit_path %>
					  	    <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="row">
	   <div class="col-lg-9 col-md-11 col-md-offset-1">
	       <h3><b> Debe inciciar sesión para ver el perfil de un usuario </b></h3>
	   </div>
    </div>
<% end %>