<h1>Modificar Contrase単a</h1>
<div>
  <% if flash[:status] == TRUE %>
    <P><%= flash[:alert]%></P>
  <% elsif flash[:status] == FALSE%>
    <% flash[:alert].each do |error|%>
      <p><%= error %></p>
  <% end %>
<% end %>
</div>
<%= form_for @usuario, :url =>edit_password_path, :method=>'post' do |usuario|  %>
<% usuario.hidden_field  :activa, :value=>true %>


<div class="panel panel-info">
  <div class="panel-heading">Ingrese sus datos para modificaciones.</div>
  <div class="panel-body">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td>Contrase単a Actual:</td>
          <td><%= password_field_tag :contrasenia, params[:contrasenia]%></td>
        </tr>
        <tr>
          <td>Nueva Contrase単a:</td>
          <td><%= password_field_tag :contrasenia_nueva, params[:contrasenia_nueva], :required => true%></td>
        </tr>
        <tr>
          <td>Confirmar nueva contrase単a:</td>
          <td><%= password_field_tag :contrasenia_nueva2, params[:contrasenia_nueva2],:required => true%></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <Center><button type="submit" class="btn btn-success" >Guardar</button></Center>
    </li>
  </ul>
</div>
<% end %>
