  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <a class="list-group-item">
        <h3 style="margin-top:0px;" id="forms">Grupos</h3>          
          <form method="GET" action="/grupos/buscar">
          <div style="display: inline-block; margin-top:4%;" onmouseover="showSearch();" onmouseout="hideSearch();">
            <input id="buscarGrupo" name="nombre" placeholder="Buscar..." class="form-control input-sm"  style="width:0px;float:left;border-width:0px;padding:0;" type="text"/>
            <% image_submit_tag("search.png", :class => 'search-button', :alt =>
                                'Texto alternativo')%>
              <input  src="/assets/search.png" type="image" width="30" style="cursor:pointer;float:left;">           
          </div>
          </form>
      </a>
      
        <%if !current_user.nil? %>
              <a class="list-group-item list-group-item-info">Publicos</a>
                <% subscripciones_usuario().uniq.each do |subs| %>
                  <% if !subs.nil? and !@grupo.nil?%>
                        <%if subs.grupo.id == @grupo.id and subs.grupo.estado==false%>
                          <a class="list-group-item active"><%= subs.grupo.nombre %></a>
                        <%else%>
                          <% if subs.grupo.habilitado and subs.grupo.estado==false%>
                            <a href="/grupos/<%=subs.grupo.id%>/temas" class="list-group-item"><%= subs.grupo.nombre %></a>
                          <% end %>    
                        <% end %>
                  <% end %>
                <% end %>

              
              <a class="list-group-item list-group-item-info">Privados</a>
                  <% subscripciones_usuario().each do |subs| %>
                    <% if !subs.nil? and !@grupo.nil?%>
                      <%if subs.grupo.id == @grupo.id and subs.grupo.estado==true%>
                        <a class="list-group-item active"><%= subs.grupo.nombre %></a>
                      <%else%>
                        <% if subs.grupo.habilitado and subs.grupo.estado==true%>
                          <a href="/grupos/<%=subs.grupo.id%>/temas-y-tareas" class="list-group-item"><%= subs.grupo.nombre %></a>
                        <% end %>    
                      <% end %>
                    <% end %>
                  <% end %>
              
              <!--<a class="list-group-item list-group-item">Suscribirse a grupo</a>-->
                <a class="list-group-item">  
                  <h5>Suscribirse a grupo</h5>  
                    <form method="POST" action="/grupos/buscar_por_llave" >                          
                      <input id="llave" name="llave" placeholder="Llave..." class="form-control input-sm"  style="" type="text"><br>              
                      <center>
                        <input type="submit" value="Suscribirse"  class="btn btn-xs btn-primary">
                      </center>
                    </form>
                </a>
          <%end%>  
          <% if current_user.nil? %>
              <a class="list-group-item list-group-item-info">Publicos</a>
              <% publicos=Grupo.where(:estado => false) %>
              <% publicos.each do |p| %>
                <a href="/grupos/<%=p.id%>/temas-y-tareas" class="list-group-item"><%= p.nombre %></a>
              <% end %>
          <% end %>   


    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
    $('[data-toggle=offcanvas]').click(function() {
      $('.row-offcanvas').toggleClass('active');
    });
  });
  </script>
