<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
  function throwFade() {
    $('#principal').css('left','-150px');
    $('#principal').css('opacity','0.0');
  }
</script>

<script type="text/javascript">
  function throwShow() {
    $('#principal').addClass('in-left');
    $('#principal').css('left','0x');
    $('#principal').css('opacity','1.0');
  }
</script>
</head>

<body >
  <div class='row'>
  <div class="col-lg-3">
    <div class="page-header">
     <h1 id="forms">Grupos</h1>
    </div>
    <div class="bs-example">
              <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">

                
                <%if  current_user!=nil%>
                  <% current_user.subscripcions.sort{|x,y| x.created_at <=> y.created_at}.each do |subs| %>
                      <%if subs.grupo.id == @grupo.id%>
                        <li class="active"><a name="currentSelected" href="#"><%= subs.grupo.nombre %></a></li>
                      <%else%>
                        <li><a name="itemMenu" href="/grupos/<%=subs.grupo.id%>/temas"><%= subs.grupo.nombre %></a></li>
                      <% end %>
                  <% end %>
                <%else%>
                   <li class="active"><a href="/grupos/1/temas">Publico</a></li>
                <% end %>
              </ul>
            </div>
  </div>
  <div class="col-lg-8"  style="background-color:white;">
    <div>
        <% esTema = (!@temas.nil?||!@tema.nil?) %>
            <div>
              <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="<%=esTema ? 'active' : ''%>" onclick="<%= (!esTema) ? "throwFade(); window.location='/grupos/"+@grupo.id.to_s+"/temas'; return false;" : "" %>" ><a href="#temas" data-toggle="tab"><h2 style="margin-top:5px;">Temas</h2></a></li>
                <%if(@grupo.id!=1)%>
                <li class="<%=esTema ? '' : 'active'%>" onclick="<%= (!esTema) ? "" : "throwFade(); window.location='/grupos/"+@grupo.id.to_s+"/tareas'; return false;" %>" ><a href="#tareas" data-toggle="tab"><h2 style="margin-top:5px;">Tareas</h2></a></li>
                <%end%>
              </ul>
              <div class="go-left tab-content" id="principal">
                <div class="tab-pane fade <%= esTema ? 'active in' : ''%>" id="temas">
                <%if esTema %>
                  <%=yield%>
                <%end%>
                </div>
                <div class="tab-pane fade <%= esTema ? '' : 'active in'%>" id="tareas">
                  <%if (!esTema) %>
                    <%=yield%>
                  <%end%>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   $( document ).ready( throwShow );
</script>
<script type="text/javascript">
  var links = document.getElementsByName('itemMenu');
  for(i=0;i<links.length;i++)
  {
    links[i].onclick  = throwFade;
  }
  var backvar = -1;
  var active = document.getElementsByName('currentSelected')[0];
  active.onclick = function(){backvar=-2;}
</script>

</body>
</html>
