<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding-top: 10px;"><img src="/assets/nuevologo.png" width="99px"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Temas<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if  !current_user.nil? %>
            <li><a href="/temas/new/1">Crear Tema</a></li>
            <!--li><a href="/temas/show_mine">Mis Temas</a></li-->
            <%end%>
            <li><a href="/temas">Ver Temas</a></li>
          </ul>
        </li>
        <%if  !current_user.nil? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grupos<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if current_user!=nil && current_user.rol == "Docente"%>
            <li><a href="/grupos/new">Crear Grupo</a></li>
            <%end%>
            <li><a href="/grupos">Ver grupos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuestionarios<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if current_user!=nil && current_user.rol == "Docente"%>
            <li><a href="/cuestionarios/nuevo_cuestionario/1">Crear Cuestionario</a></li>
            <%end%>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/eventos/new">Crear Evento</a></li>
            <li><a href="/eventos">Ver Eventos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/not3.png" width="15" id="demo">Notificaciones<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Vacio</a></li>
          </ul>
        </li>
      </ul>
        <%end%>
          <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar...">
        </div>
        <!--<button type="submit" class="btn btn-success">Buscar</button>-->
      </form>
        <!--/.nav-collapse -->
        <%if current_user.nil?%>
          <form class="navbar-form navbar-right" role="form" method="Post" action=<%=sessions_path%>>
            <div class="form-group">
              <%= text_field_tag :correo, params[:correo], :class=>'form-control', :placeholder=>'Nombre de usuario', :size => 20 %>
            </div>
            <div class="form-group">
              <%= password_field_tag :contrasenia, params[:contrasenia], :class=>'form-control', :placeholder=>'Contraseña'%>
            </div>
            <button type="submit" class="btn btn-success">Ingresar</button>
          </form>
        <%else%>
          <ul class="nav navbar-nav" >
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag avatar_tam_url(current_user,20) %><%=" "+current_user.nombre_usuario%><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href=<%="/usuarios/"+current_user.id.to_s%>>Ver Perfil</a></li>
                <li><a href=<%=usuario_edit_path%> >Modificar Perfil</a></li>
                <li><a href=<%=update_password_path%> >Modificar Contraseña</a></li>
                <li><a href=<%=usuario_cambiar_email_path%> >Modificar Correo Electronico</a></li>
                <% if current_user.rol=="Administrador" %>
                  <li><a href="/agregar_url">Cambiar Url De Los Correos</a></li>
                <% end %>
                <li><a class="no_ajaxify" href=<%=log_out_path%> >Salir</a></li>
              </ul>
            </li>
          </ul>
        <%end%>
    </div><!--/.navbar-collapse -->
  </div>
</div>
