<!DOCTYPE html>
<html>
<head>
  <title>Yosistemas</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
      <div class="hidden-sm col-sm-1 col-lg-1">  
        </div>
      
      <div id="user_nav" >
            <% if current_user %> 
          Logged in as <%= current_user.correo %>.
          <%= link_to "Salir", log_out_path %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <%= link_to "Modificar Datos", "usuarios/edit" %>
        <% else %>
      <%= link_to "Registrase", register_path %> or
          <%= link_to "Ingresar", log_in_path %>
        <% end %>
      </div>
        
      <div class="hidden-sm col-sm-1 col-lg-1">  
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    <div class="row" >
    <a class="navbar-brand" href="#"><img src="/assets/logo.png" /></a>
  </div>
	<div class="content">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'layouts/navigation' %>
        </div> 
      </div>

      <!-- Cuerpo de la pagina -->
      <div class="row">
        <!--Espacio Vacio del Lateral izquierdo.-->
        <div class="hidden-sm col-md-2 col-lg-1">  
        </div>

          <div class="col-sm-12 col-md-9 col-lg-11">
            <%= yield %>
          </div> 
      </div>
      <!-- Pie de Pagina -->
      <div class="row">
        <%= render 'layouts/bootom_bar' %>
      </div>
    </div>

</body>
</html>
