<!DOCTYPE html>
<html>
<head>
  <title>Yosistemas</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/assets/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  <div class="row">
    <div class="col-md-5 col-lg-3 col-sm-offset-7 col-md-offset-8 col-lg-offset-9">
      <div id="user_nav" >
        <% if current_user %> 
          Registrado como <a href=<%="/usuarios/"+current_user.id.to_s%>> <%= current_user.correo %></a>.
          <%= link_to "Salir", log_out_path %>
          &nbsp;&nbsp; <%= link_to "Modificar Datos", usuario_edit_path %>
        <% else %>
          <%= link_to "Registrase", register_path %> o
          <%= link_to "Ingresar", log_in_path %>
        <% end %>
      </div>
        
      <div class="hidden-sm col-sm-1 col-lg-1">  
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
  </div>
  <div class="row" >
    <a class="navbar-brand" href="/"><img src="/assets/logo.png" /></a>
  </div>

  <div class="row">
    <%= render 'layouts/navigation' %>
  </div>

  <!-- Cuerpo de la pagina -->
  <div class="row">
    <!--Espacio Vacio del Lateral izquierdo.-->
  

    <div class="col-sm-12 col-md-9 col-lg-11 col-md-offset-1 col-md-offset-1">
      <%= yield %>
    </div> 
  </div>
      <!-- Pie de Pagina -->
    <div class="row">
        <%= render 'layouts/bootom_bar' %>
      </div>

</body>
</html>
